.foto {
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	border: solid #E6E6E6 0.7vw;
}

#image {
    margin: 0 5px !important;
	width: 20%;
}

#division ul {
    margin: 0 0 0.8em 0;
}

#decimal-hexadecimal {
	width: 100%;
	margin: 0;
}

.hexa {
	text-align: left;
}

.exemplo{
	/*width: 50vw;*/
	width: 560px;
	height: 315px;
}

#logos{
	background-color: #105485;
	padding: 3vw;
	margin-bottom: 4vw;
}

.copyright{
	margin-left: 2vw;
}

h2 {
	font-weight: bolder;
}
